
*.exe
*.targets
*.props
*.cache
KataTracks/obj/Debug/netcoreapp3.1/App.g.i.cs
KataTracks/obj/Debug/netcoreapp3.1/KataTracks.csproj.FileListAbsolute.txt
KataTracks/obj/Debug/netcoreapp3.1/KataTracks.designer.deps.json
KataTracks/obj/Debug/netcoreapp3.1/KataTracks.designer.runtimeconfig.json
KataTracks/obj/Debug/netcoreapp3.1/MainWindow.g.i.cs
*.v2
.vs/KataTracks/v16/.suo
BtConsole/obj/Debug/netcoreapp3.1/BtConsole.csproj.FileListAbsolute.txt
KataTracks/obj/KataTracks.csproj.nuget.dgspec.json
*.lref
KataTracks/obj/Lightsuite.csproj.nuget.dgspec.json
ConsoleBLE/obj/Debug/ConsoleBLE.csproj.CopyComplete
ConsoleBLE/obj/Debug/ConsoleBLE.csproj.FileListAbsolute.txt
KataTracks/obj/Debug/net5.0-windows10.0.19041.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
KataTracks/obj/Debug/net5.0-windows10.0.19041.0/App.g.i.cs
KataTracks/obj/Debug/net5.0-windows10.0.19041.0/KataTracks.csproj.FileListAbsolute.txt
KataTracks/obj/Debug/net5.0-windows10.0.19041.0/MainWindow.g.i.cs
BtConsole/obj/BtConsole.csproj.nuget.dgspec.json
BtConsole/obj/BtConsole.csproj.nuget.dgspec.json
KataTracks/obj/project.assets.json
BtConsole/obj/BtConsole.csproj.nuget.dgspec.json
.vs/KataTracks/v16/Solution.VC.db
.vs/KataTracks/v16/Browse.VC.db
.vs/KataTracks/v16/Browse.VC.db
MicroPalette/x64/Debug/MicroPalette.Build.CppClean.log
.vs/KataTracks/v16/Browse.VC.db
HandBLE/obj/Debug/netcoreapp3.1/HandBLE.csproj.FileListAbsolute.txt
.vs/KataTracks/v16/Browse.VC.db
BtConsole/obj/BtConsole.csproj.nuget.dgspec.json
HandBLE/obj/HandBLE.csproj.nuget.dgspec.json
BtConsole/obj/BtConsole.csproj.nuget.dgspec.json
KataTracks/obj/project.assets.json
SoundLevels/obj/project.assets.json
BtConsole/obj/project.assets.json
BtConsole/obj/BtConsole.csproj.nuget.dgspec.json
HandBLE/obj/HandBLE.csproj.nuget.dgspec.json
SoundLevels/obj/SoundLevels.csproj.nuget.dgspec.json
HandBLE/obj/project.assets.json
.vs/KataTracks/v17/Browse.VC.db
.vs/KataTracks/v17/Browse.VC.db-shm
.vs/KataTracks/v17/Browse.VC.db-wal
.vs/KataTracks/v17/Browse.VC.opendb
.vs/KataTracks/v17/Solution.VC.db
.vs/KataTracks/v17/Solution.VC.db-shm
.vs/KataTracks/v17/Solution.VC.db-wal
packages/InTheHand.BluetoothLE.4.0.23/.signature.p7s
packages/InTheHand.BluetoothLE.4.0.23/32feet-package-icon.png
packages/InTheHand.BluetoothLE.4.0.23/InTheHand.BluetoothLE.4.0.23.nupkg
packages/InTheHand.BluetoothLE.4.0.23/lib/monoandroid10.0/InTheHand.BluetoothLE.dll
packages/InTheHand.BluetoothLE.4.0.23/lib/net461/InTheHand.BluetoothLE.dll
packages/InTheHand.BluetoothLE.4.0.23/lib/net5.0-windows10.0.19041/InTheHand.BluetoothLE.dll
packages/InTheHand.BluetoothLE.4.0.23/lib/net6.0-windows10.0.19041/InTheHand.BluetoothLE.dll
packages/InTheHand.BluetoothLE.4.0.23/lib/netcoreapp3.1/InTheHand.BluetoothLE.dll
packages/InTheHand.BluetoothLE.4.0.23/lib/netstandard2.0/InTheHand.BluetoothLE.dll
packages/InTheHand.BluetoothLE.4.0.23/lib/uap10.0.17763/InTheHand.BluetoothLE.dll
packages/InTheHand.BluetoothLE.4.0.23/lib/uap10.0.17763/InTheHand.BluetoothLE.pri
packages/InTheHand.BluetoothLE.4.0.23/lib/xamarinios10/InTheHand.BluetoothLE.dll
packages/InTheHand.BluetoothLE.4.0.23/lib/xamarinmac20/InTheHand.BluetoothLE.dll
packages/InTheHand.BluetoothLE.4.0.23/lib/xamarintvos10/InTheHand.BluetoothLE.dll
packages/InTheHand.BluetoothLE.4.0.23/lib/xamarinwatchos10/InTheHand.BluetoothLE.dll
packages/InTheHand.Net.Bluetooth.4.0.29/.signature.p7s
packages/InTheHand.Net.Bluetooth.4.0.29/32feet-package-icon.png
packages/InTheHand.Net.Bluetooth.4.0.29/InTheHand.Net.Bluetooth.4.0.29.nupkg
packages/InTheHand.Net.Bluetooth.4.0.29/lib/monoandroid11.0/InTheHand.Net.Bluetooth.dll
packages/InTheHand.Net.Bluetooth.4.0.29/lib/monoandroid11.0/InTheHand.Net.Bluetooth.xml
packages/InTheHand.Net.Bluetooth.4.0.29/lib/monoandroid90/InTheHand.Net.Bluetooth.dll
packages/InTheHand.Net.Bluetooth.4.0.29/lib/monoandroid90/InTheHand.Net.Bluetooth.xml
packages/InTheHand.Net.Bluetooth.4.0.29/lib/net452/InTheHand.Net.Bluetooth.dll
packages/InTheHand.Net.Bluetooth.4.0.29/lib/net452/InTheHand.Net.Bluetooth.xml
packages/InTheHand.Net.Bluetooth.4.0.29/lib/net461/InTheHand.Net.Bluetooth.dll
packages/InTheHand.Net.Bluetooth.4.0.29/lib/net461/InTheHand.Net.Bluetooth.xml
packages/InTheHand.Net.Bluetooth.4.0.29/lib/net5.0-windows7.0/InTheHand.Net.Bluetooth.dll
packages/InTheHand.Net.Bluetooth.4.0.29/lib/net5.0-windows7.0/InTheHand.Net.Bluetooth.xml
packages/InTheHand.Net.Bluetooth.4.0.29/lib/net6.0-windows7.0/InTheHand.Net.Bluetooth.dll
packages/InTheHand.Net.Bluetooth.4.0.29/lib/net6.0-windows7.0/InTheHand.Net.Bluetooth.xml
packages/InTheHand.Net.Bluetooth.4.0.29/lib/netstandard2.0/InTheHand.Net.Bluetooth.dll
packages/InTheHand.Net.Bluetooth.4.0.29/lib/netstandard2.0/InTheHand.Net.Bluetooth.xml
packages/InTheHand.Net.Bluetooth.4.0.29/lib/uap10.0.16299/InTheHand.Net.Bluetooth.dll
packages/InTheHand.Net.Bluetooth.4.0.29/lib/uap10.0.16299/InTheHand.Net.Bluetooth.pri
packages/InTheHand.Net.Bluetooth.4.0.29/lib/uap10.0.16299/InTheHand.Net.Bluetooth.xml
packages/InTheHand.Net.Bluetooth.4.0.29/lib/xamarinios10/InTheHand.Net.Bluetooth.dll
packages/InTheHand.Net.Bluetooth.4.0.29/lib/xamarinios10/InTheHand.Net.Bluetooth.xml
packages/InTheHand.Net.Bluetooth.4.0.29/runtimes/win/lib/netcoreapp3.1/InTheHand.Net.Bluetooth.dll
packages/InTheHand.Net.Bluetooth.4.0.29/runtimes/win/lib/netcoreapp3.1/InTheHand.Net.Bluetooth.pdb
packages/InTheHand.Net.Bluetooth.4.0.29/runtimes/win/lib/netcoreapp3.1/InTheHand.Net.Bluetooth.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/.signature.p7s
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/c/Catalogs/cat353be8f91891a6a5761b9ac157fa2ff1.cat
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/c/Catalogs/cat4ec14c5368b7642563c070cd168960a8.cat
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/c/Catalogs/cate59830bab4961666e8d8c2af1e5fa771.cat
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/c/Catalogs/catf105a73f98cfc88c7b64d8f7b39a474c.cat
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/Microsoft.Windows.SDK.Contracts.10.0.19041.1.nupkg
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.AI.MachineLearning.MachineLearningContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.AI.MachineLearning.Preview.MachineLearningPreviewContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.ApplicationModel.Activation.ActivatedEventsContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.ApplicationModel.Activation.ActivationCameraSettingsContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.ApplicationModel.Activation.ContactActivatedEventsContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.ApplicationModel.Activation.WebUISearchActivatedEventsContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.ApplicationModel.Background.BackgroundAlarmApplicationContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.ApplicationModel.Calls.Background.CallsBackgroundContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.ApplicationModel.Calls.CallsPhoneContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.ApplicationModel.Calls.CallsVoipContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.ApplicationModel.Calls.LockScreenCallContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.ApplicationModel.CommunicationBlocking.CommunicationBlockingContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.ApplicationModel.FullTrustAppContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.ApplicationModel.Preview.InkWorkspace.PreviewInkWorkspaceContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.ApplicationModel.Preview.Notes.PreviewNotesContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.ApplicationModel.Resources.Management.ResourceIndexerContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.ApplicationModel.Search.Core.SearchCoreContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.ApplicationModel.Search.SearchContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.ApplicationModel.SocialInfo.SocialInfoContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.ApplicationModel.StartupTaskContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.ApplicationModel.Wallet.WalletContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.Devices.Custom.CustomDeviceContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.Devices.DevicesLowLevelContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.Devices.Portable.PortableDeviceContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.Devices.Printers.Extensions.ExtensionsContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.Devices.Printers.PrintersContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.Devices.Scanners.ScannerDeviceContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.Devices.SmartCards.SmartCardBackgroundTriggerContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.Devices.SmartCards.SmartCardEmulatorContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.Devices.Sms.LegacySmsApiContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.Foundation.FoundationContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.Foundation.UniversalApiContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.Gaming.Input.GamingInputPreviewContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.Gaming.Preview.GamesEnumerationContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.Gaming.UI.GameChatOverlayContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.Gaming.UI.GamingUIProviderContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.Gaming.XboxLive.StorageApiContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.Globalization.GlobalizationJapanesePhoneticAnalyzerContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.Graphics.Printing3D.Printing3DContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.Management.Deployment.Preview.DeploymentPreviewContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.Management.Workplace.WorkplaceSettingsContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.Media.AppBroadcasting.AppBroadcastingContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.Media.AppRecording.AppRecordingContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.Media.Capture.AppBroadcastContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.Media.Capture.AppCaptureContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.Media.Capture.AppCaptureMetadataContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.Media.Capture.CameraCaptureUIContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.Media.Capture.GameBarContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.Media.Devices.CallControlContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.Media.MediaControlContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.Media.Playlists.PlaylistsContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.Media.Protection.ProtectionRenewalContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.Networking.Connectivity.WwanContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.Networking.NetworkOperators.LegacyNetworkOperatorsContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.Networking.NetworkOperators.NetworkOperatorsFdnContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.Networking.Sockets.ControlChannelTriggerContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.Networking.XboxLive.XboxLiveSecureSocketsContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.Perception.Automation.Core.PerceptionAutomationCoreContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.Phone.PhoneContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.Phone.StartScreen.DualSimTileContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.Security.EnterpriseData.EnterpriseDataContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.Security.ExchangeActiveSyncProvisioning.EasContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.Services.Maps.GuidanceContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.Services.Maps.LocalSearchContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.Services.Store.StoreContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.Services.TargetedContent.TargetedContentContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.Storage.Provider.CloudFilesContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.System.Profile.ProfileHardwareTokenContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.System.Profile.ProfileRetailInfoContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.System.Profile.ProfileSharedModeContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.System.Profile.SystemManufacturers.SystemManufacturersContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.System.SystemManagementContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.System.UserProfile.UserProfileContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.System.UserProfile.UserProfileLockScreenContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.UI.ApplicationSettings.ApplicationsSettingsContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.UI.Core.AnimationMetrics.AnimationMetricsContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.UI.Core.CoreWindowDialogsContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.UI.Shell.SecurityAppManagerContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.UI.ViewManagement.ViewManagementViewScalingContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.UI.WebUI.Core.WebUICommandBarContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.UI.Xaml.Core.Direct.XamlDirectContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.UI.Xaml.Hosting.HostingContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/en/Windows.Web.Http.Diagnostics.HttpDiagnosticsContract.xml
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.AI.MachineLearning.MachineLearningContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.AI.MachineLearning.Preview.MachineLearningPreviewContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.ApplicationModel.Activation.ActivatedEventsContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.ApplicationModel.Activation.ActivationCameraSettingsContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.ApplicationModel.Activation.ContactActivatedEventsContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.ApplicationModel.Activation.WebUISearchActivatedEventsContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.ApplicationModel.Background.BackgroundAlarmApplicationContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.ApplicationModel.Calls.Background.CallsBackgroundContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.ApplicationModel.Calls.CallsPhoneContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.ApplicationModel.Calls.CallsVoipContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.ApplicationModel.Calls.LockScreenCallContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.ApplicationModel.CommunicationBlocking.CommunicationBlockingContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.ApplicationModel.FullTrustAppContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.ApplicationModel.Preview.InkWorkspace.PreviewInkWorkspaceContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.ApplicationModel.Preview.Notes.PreviewNotesContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.ApplicationModel.Resources.Management.ResourceIndexerContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.ApplicationModel.Search.Core.SearchCoreContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.ApplicationModel.Search.SearchContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.ApplicationModel.SocialInfo.SocialInfoContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.ApplicationModel.StartupTaskContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.ApplicationModel.Wallet.WalletContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.Devices.Custom.CustomDeviceContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.Devices.DevicesLowLevelContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.Devices.Portable.PortableDeviceContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.Devices.Printers.Extensions.ExtensionsContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.Devices.Printers.PrintersContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.Devices.Scanners.ScannerDeviceContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.Devices.SmartCards.SmartCardBackgroundTriggerContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.Devices.SmartCards.SmartCardEmulatorContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.Devices.Sms.LegacySmsApiContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.Embedded.DeviceLockdown.DeviceLockdownContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.Foundation.FoundationContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.Foundation.UniversalApiContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.Gaming.Input.GamingInputPreviewContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.Gaming.Preview.GamesEnumerationContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.Gaming.UI.GameChatOverlayContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.Gaming.UI.GamingUIProviderContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.Gaming.XboxLive.StorageApiContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.Globalization.GlobalizationJapanesePhoneticAnalyzerContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.Graphics.Printing3D.Printing3DContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.Management.Deployment.Preview.DeploymentPreviewContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.Management.Workplace.WorkplaceSettingsContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.Media.AppBroadcasting.AppBroadcastingContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.Media.AppRecording.AppRecordingContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.Media.Capture.AppBroadcastContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.Media.Capture.AppCaptureContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.Media.Capture.AppCaptureMetadataContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.Media.Capture.CameraCaptureUIContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.Media.Capture.GameBarContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.Media.Devices.CallControlContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.Media.MediaControlContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.Media.Playlists.PlaylistsContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.Media.Protection.ProtectionRenewalContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.Networking.Connectivity.WwanContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.Networking.NetworkOperators.LegacyNetworkOperatorsContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.Networking.NetworkOperators.NetworkOperatorsFdnContract.WinMD
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.Networking.Sockets.ControlChannelTriggerContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.Networking.XboxLive.XboxLiveSecureSocketsContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.Perception.Automation.Core.PerceptionAutomationCoreContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.Phone.PhoneContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.Phone.StartScreen.DualSimTileContract.WinMD
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.Security.EnterpriseData.EnterpriseDataContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.Security.ExchangeActiveSyncProvisioning.EasContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.Security.Isolation.Isolatedwindowsenvironmentcontract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.Services.Maps.GuidanceContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.Services.Maps.LocalSearchContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.Services.Store.StoreContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.Services.TargetedContent.TargetedContentContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.Storage.Provider.CloudFilesContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.System.Profile.ProfileHardwareTokenContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.System.Profile.ProfileRetailInfoContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.System.Profile.ProfileSharedModeContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.System.Profile.SystemManufacturers.SystemManufacturersContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.System.SystemManagementContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.System.UserProfile.UserProfileContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.System.UserProfile.UserProfileLockScreenContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.UI.ApplicationSettings.ApplicationsSettingsContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.UI.Core.AnimationMetrics.AnimationMetricsContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.UI.Core.CoreWindowDialogsContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.UI.Shell.SecurityAppManagerContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.UI.ViewManagement.ViewManagementViewScalingContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.UI.WebUI.Core.WebUICommandBarContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.UI.Xaml.Core.Direct.XamlDirectContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.UI.Xaml.Hosting.HostingContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.Web.Http.Diagnostics.HttpDiagnosticsContract.winmd
packages/Microsoft.Windows.SDK.Contracts.10.0.19041.1/ref/netstandard2.0/Windows.WinMD
.vs/KataTracks/v17/.futdcache.v1
.vs/KataTracks/v17/.suo
