
*.exe
*.targets
*.props
*.cache
KataTracks/obj/Debug/netcoreapp3.1/App.g.i.cs
KataTracks/obj/Debug/netcoreapp3.1/KataTracks.csproj.FileListAbsolute.txt
KataTracks/obj/Debug/netcoreapp3.1/KataTracks.designer.deps.json
KataTracks/obj/Debug/netcoreapp3.1/KataTracks.designer.runtimeconfig.json
KataTracks/obj/Debug/netcoreapp3.1/MainWindow.g.i.cs
*.v2
.vs/KataTracks/v16/.suo
BtConsole/obj/Debug/netcoreapp3.1/BtConsole.csproj.FileListAbsolute.txt
KataTracks/obj/KataTracks.csproj.nuget.dgspec.json
*.lref
KataTracks/obj/Lightsuite.csproj.nuget.dgspec.json
ConsoleBLE/obj/Debug/ConsoleBLE.csproj.CopyComplete
ConsoleBLE/obj/Debug/ConsoleBLE.csproj.FileListAbsolute.txt
KataTracks/obj/Debug/net5.0-windows10.0.19041.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
KataTracks/obj/Debug/net5.0-windows10.0.19041.0/App.g.i.cs
KataTracks/obj/Debug/net5.0-windows10.0.19041.0/KataTracks.csproj.FileListAbsolute.txt
KataTracks/obj/Debug/net5.0-windows10.0.19041.0/MainWindow.g.i.cs
BtConsole/obj/BtConsole.csproj.nuget.dgspec.json
BtConsole/obj/BtConsole.csproj.nuget.dgspec.json
KataTracks/obj/project.assets.json
BtConsole/obj/BtConsole.csproj.nuget.dgspec.json
.vs/KataTracks/v16/Solution.VC.db
.vs/KataTracks/v16/Browse.VC.db
.vs/KataTracks/v16/Browse.VC.db
MicroPalette/x64/Debug/MicroPalette.Build.CppClean.log
.vs/KataTracks/v16/Browse.VC.db
HandBLE/obj/Debug/netcoreapp3.1/HandBLE.csproj.FileListAbsolute.txt
.vs/KataTracks/v16/Browse.VC.db
